@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset i podstawowe style */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    font-size: 1em;
}

a {
    text-decoration: none;
}

.button-container {
    display: flex;
    gap: 10px;
    width: 100%;
    margin: 0;
    padding: 0;
}

    .button-container a {
        flex: 1;
        text-align: center; 
        padding: 10px; 
    }

    .button-container button {
        flex: 1;
        text-align: center;
        padding: 10px 15px;
        margin: 0;
        box-sizing: border-box;
    }

/* Główny styl dla przycisków */
.main-button-style {
    position: relative;
    background-color: white;
    color: #333;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 3px solid transparent;
    border-image: linear-gradient(to right, #ffabf4, #bd8aff, #99f5ff) 1;
    overflow: hidden;
}

    .main-button-style::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0; 
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right, #ffabf4, #bd8aff, #99f5ff);
        z-index: -1;
    }

    .main-button-style:hover {
        color: white;
        background-image: linear-gradient(to right, #ffabf4, #bd8aff, #99f5ff);
        box-shadow: 0 4px 10px rgba(0, 123, 255, 0.3);
    }

/* Przycisk usuwania wydarzenia */
.main-button-style-v2 {
    position: relative;
    background-color: white;
    color: #333;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 3px solid transparent;
    border-image: linear-gradient(to right, #ff4ded, #ff6eaa, #ff2b3d) 1;
    overflow: hidden;
}
    .main-button-style-v2::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right, #ff4ded, #ff6eaa, #ff2b3d);
        z-index: -1;
    }

    .main-button-style-v2:hover {
        color: white;
        background-image: linear-gradient(to right, #ff4ded, #ff6eaa, #ff2b3d);
        box-shadow: 0 4px 10px rgba(0, 123, 255, 0.3);
    }

/* Styl dla kontenera: przyciski pion*/
.white-container {
    background-color: white;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 100%;
}

/* Styl dla kontenera: przyciski poziom*/
.white-container-2 {
    background-color: white;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    justify-content: space-between;
}

    .white-container-2 .main-button-style {
        flex: 1;
        margin: 0 10px;
    }

/* Kontener dla zdjęcia i treści */
.event-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.event-info {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
    color: #ffffff;
}

/* Styl dla zablokowanych sektorów */
.disabled {
    opacity: 0.5;
    pointer-events: none;
}

    .event-image-container {
    flex-shrink: 0; 
}

#event-image {
    border-radius: 12px;
    width: 250px;
    height: auto;
}

.event-details {
    flex-grow: 1;
    max-width: 60%;
}

.table {
    width: 100%;
    table-layout: fixed;
    text-align: left;
}

/* Pasek nawigacyjny */
.navbar {
    background-color: #f8f9fa;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-title {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* Nawigacja po prawej stronie */
.navbar-nav {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-right: 15px;
}

/* Linki nawigacyjne po lewej stronie */
.nav-link {
    display: flex;
    padding-left: 15px;
}

/* Ogólny kontener */
.container {
    max-width: 50%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Karta */
.card {
    background-color: #fff;
    border: none;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Formularz */
form label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-sizing: border-box;
}

    form input:focus {
        border-color: #007bff;
        outline: none;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }

/* Sprawdzanie poprawności formularza */
.form-check {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.form-check-input {
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 12px;
    cursor: pointer;
}

    .form-check-input:checked {
        background-color: #007bff;
        border-color: #007bff;
    }

/* Przycisk */
button, .btn-primary {
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

.ticket-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

    .ticket-buttons button {
        width: 50%;
        background-color: #007bff;
        color: white;
        border-radius: 12px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .ticket-buttons button:hover {
            background-color: #0056b3;
        }

/* Przycisk szczegółów */
.btn-details {
    display: inline-block;
    margin: 15px 0;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    text-transform: uppercase;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

    .btn-details:hover {
        background-color: #0056b3;
    }

/* Główny kontener na stronie */
.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

/* Sortowanie: pełna szerokość */
.sort-options {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
}

    .sort-options select {
        border-radius: 12px;
        padding: 10px;
        border: 1px solid #ddd;
        background-color: #fff;
        transition: border-color 0.3s ease;
    }

/* Tytuł sekcji */
.section-title {
    width: 100%;
    text-align: center;
    color: #aa6afc;
    font-weight: bold;
    font-size: 1.3em;
}

/* Kontener na wydarzenia */
.events-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;
    justify-content: center;
}

/* Karta wydarzenia */
.event-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 15px;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s ease-in-out;
    background-size: cover;
    background-position: center;
}

    .event-card:hover {
        transform: scale(1.05);
    }

    .event-card img {
        width: 100%;
        height: 200px;
        border-radius: 12px;
        object-fit: cover;
    }

    .event-card h3 {
        margin: 15px 0 10px;
        color: #ffffff;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
    }

    .event-card p {
        color: #ffffff;
        margin: 10px 0;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
    }

    .event-card a {
        display: inline-block;
        margin-top: 10px;
        padding: 10px 20px;
        background-color: white;
        color: white;
        border-radius: 12px;
        transition: background-color 0.3s;
        text-decoration: none;
    }

        .event-card a:hover {
            background-color: none;
        }

/* Informacje o błędach */
.invalid-feedback {
    color: red;
    margin-top: 5px;
}

/* Stylizacja formularza dodawania wydarzenia */
.event-form {
    max-width: 1000px;
    margin: 50px auto;
    padding: 30px;
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

    .event-form h1 {
        text-align: center;
        margin-bottom: 20px;
        color: #333;
        font-weight: bold;
    }

    .event-form label {
        font-weight: bold;
        color: #555;
    }

    .event-form input, .event-form textarea, .event-form select {
        width: 100%;
        padding: 12px;
        border: 1px solid #ddd;
        border-radius: 12px;
        box-sizing: border-box;
        transition: border-color 0.3s ease, box-shadow 0.3s ease;
    }

        .event-form input:focus, .event-form textarea:focus, .event-form select:focus {
            border-color: #007bff;
            box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
            outline: none;
        }

    .event-form .sector-row {
        background: #f8f9fa;
        border: 1px solid #ddd;
        padding: 15px;
        border-radius: 12px;
        margin-bottom: 15px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
        transition: transform 0.2s;
    }

        .event-form .sector-row:hover {
            transform: scale(1.02);
        }

    .event-form #add-sector, .event-form #remove-sector {
        color: black;
        margin-top: 10px;
        padding: 10px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }


/* Modal */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    display: none; 
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1050;
    width: 100%;
    height: 100%;
}

/* Zawartość modala */
.modal-content {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
